.warranty-details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}

.warranty-details-row {
  display: grid;
  grid-template-columns: 10rem 1fr;
  align-items: start;
  gap: 1rem;
}

.warranty-details-row dt {
  font-weight: 600;
}
