<main class="app-main-container">
<div class="login-page">
  <div class="login-card">
    <h1 class="app-header-1">Login</h1>
    <h3 class="app-header-3">Use this form to login if you have account</h3>
    @if (loginError()) {
      <div class=error-summary>{{loginError()}}</div>
    }
    <form>
      <label>
        Email:
        <input type="email" [formField]="loginForm.email" autocomplete="username" />
      </label>
      @if (loginForm.email().touched() && loginForm.email().invalid()) {
      <div class="error-list">
        @for (error of loginForm.email().errors(); track error) {
          <p>{{ error.message }}</p>
        }
      </div>
      }

      <label>
        Password:
        <input type="password" [formField]="loginForm.password" autocomplete="current-password" />
      </label>
      @if (loginForm.password().touched() && loginForm.password().invalid()) {
      <div class="error-list">
        @for (error of loginForm.password().errors(); track error) {
          <p>{{ error.message }}</p>
        }
      </div>
      }

      <label class="remember-label">
        <input type="checkbox" [formField]="loginForm.remember" />
        Remember me
      </label>

      <button type="button" (click)="onSubmit()" [disabled]="loginForm().submitting()">Log In</button>
    </form>
  </div>
</div>
</main>