<div class="app-auth-page">
  <div class="app-auth-card max-w-md">
    <h1 class="app-header-1">Login</h1>
    <h3 class="app-header-3">Use this form to login if you have account</h3>
    @if (httpErrorService.errorDetail()) {
      <div class=error-summary>{{httpErrorService.errorDetail()}}</div>
    }
    <form class="app-form">
      <label class="app-form-label">
        Username:
        <input type="username" class="app-form-input" [formField]="loginForm.username" autocomplete="username" />
      </label>
      @if (loginForm.username().touched() && loginForm.username().invalid()) {
      <div class="form-error-message">
        @for (error of loginForm.username().errors(); track error.message) {
          <p>{{ error.message }}</p>
        }
      </div>
      }

      <label class="app-form-label">
        Password:
        <input type="password" class="app-form-input" [formField]="loginForm.password" autocomplete="current-password" />
      </label>
      @if (loginForm.password().touched() && loginForm.password().invalid()) {
      <div class="form-error-message">
        @for (error of loginForm.password().errors(); track error.message) {
          <p>{{ error.message }}</p>
        }
      </div>
      }

      <label class="app-form-label">
        2FA Code (only if 2FA is enabled):
        <input type="text" class="app-form-input" [formField]="loginForm.code" 
          autocomplete="one-time-code" />
      </label>

      <label class="remember-label app-form-label">
        <input type="checkbox" [formField]="loginForm.remember" />
        Remember me
      </label>

      <button type="button" class="app-primary-button" (click)="onSubmit()" [disabled]="loginForm().submitting()">
        Log In
      </button>

      <div>
        <p>
          You can register from <a class="link" routerLink="{{ Paths.REGISTER }}">here</a>
        </p>
        <p>
          Resend confirmation email from <a class="link" routerLink="{{ Paths.RESEND_CONFIRMATION }}">here</a>
        </p>
      </div>
    </form>
  </div>
</div>