<div class="app-auth-page">
  <div class="app-auth-card max-w-md">
    <h1 class="app-header-1">Reset Password</h1>
    <h3 class="app-header-3">Enter and confirm your new password</h3>

    @if (httpErrorService.errorDetail()) {
      <div class="error-summary">{{ httpErrorService.errorDetail() }}</div>
    }

    <form class="app-form">
      <label class="app-form-label">
        New Password:
        <input type="password" class="app-form-input" [formField]="resetForm.newPassword" autocomplete="new-password" />
      </label>
      @if (resetForm.newPassword().touched() && resetForm.newPassword().invalid()) {
        <div class="form-error-message">
          @for (error of resetForm.newPassword().errors(); track error.message) {
            <p>{{ error.message }}</p>
          }
        </div>
      }

      <label class="app-form-label">
        Confirm Password:
        <input type="password" class="app-form-input" [formField]="resetForm.confirmPassword" autocomplete="new-password" />
      </label>
      @if (resetForm.confirmPassword().touched() && resetForm.confirmPassword().invalid()) {
        <div class="form-error-message">
          @for (error of resetForm.confirmPassword().errors(); track error.message) {
            <p>{{ error.message }}</p>
          }
        </div>
      }

      <button type="button" class="app-primary-button" (click)="onSubmit()" [disabled]="resetForm().submitting()">
        @if (loading()) { Resetting... } @else { Reset Password }
      </button>
    </form>
  </div>
</div>
