name: Build

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  DOTNET_VERSION: '10.x'

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
  
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: ${{ env.DOTNET_VERSION }}

    - name: Restore dependencies
      run: dotnet restore AccountabilityInformationSystem.sln

    - name: Build
      run: dotnet build AccountabilityInformationSystem.sln --configuration Release --no-restore

    - name: Test
      run: dotnet test AccountabilityInformationSystem.sln --configuration Release --no-restore --no-build

    - name: Publish
      run: dotnet publish AccountabilityInformationSystem.sln --configuration Release --no-restore --no-build
